$primary-dark: #141a26;
$secondary-dark: #131A26;
$true-dark: #000000;
$primary-grey: #687790;
$primary-green: #2BAB4A;
$xs: 516px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$xl: 1400px;
$font-lato: "Lato", sans-serif;
$font-bebas: "Bebas Neue", sans-serif;