<div class="schedule-estimate-cta">
    <div class="wrapper">
      <div class="content">
        <h5>{{ .section_data.acf.title }}</h5>
        <p>{{ .section_data.acf.paragraph }}</p>
        <div class="contact-group">
          <h6>Address</h6>
            <address>
            {{ range $index, $item := .addresses.acf.value_list }}
                {{ .street }}
                <br />
                {{ .city }}, {{ .state }} {{ .zip }}
            {{ end }}
            </address>
        </div>
        <div class="contact-group">
          <h6>Phone</h6>
            <a href="tel:{{ range $index, $item := .phones.acf.value_list }}{{ .value }}{{ end }}">
                {{ range $index, $item := .phones.acf.value_list }}
                    {{ .value }}
                {{ end }}
            </a>
        </div>
        <div class="contact-group">
          <h6>Email</h6>
            <a href="mailto:{{ range $index, $item := .emails.acf.value_list }}{{ .value }}{{ end }}">
                {{ range $index, $item := .emails.acf.value_list }}
                    {{ .value }}
                {{ end }}
            </a>
        </div>
        <ul>
            {{ range $index, $item := .section_data.acf.award }}
                <li>
                    <img src="{{ .image.url }}" alt="{{ .image.alt }}" width="150px" height="150px" />
                </li>
            {{ end }}
        </ul>
      </div>
      <div>
        <div class="form">
            <div class="cognito">
                <script src="https://services.cognitoforms.com/s/IG83lPQs7UKU2FDeP--HlA"></script>
                <script>Cognito.load("forms", { id: "80" });</script>
                <div class="preloader">
                    <h6>Hold on... We're loading the form!</h6>
                    <button id="loadFormBackupButton" class="button">Click here if the form never loads.</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>