<main id="main-content" role="main" class="service-area-single-wrapper">

    <div class="hero">
        <img src="{{ .acf.hero.image.url }}" alt="{{ .acf.hero.image.alt }}" />
        <div class="overlay-light"></div>
        <div class="wrapper">
            <div class="content">
                <h5>{{ .acf.hero.subtitle }}</h5>
                <h1>{{ .acf.hero.title }}</h1>
                <p>{{ .acf.hero.paragraph }}</p>
                <a href="{{ partial "global/button_link.html" (dict "button" .acf.hero.button ) | safeURL }}">
                    <div class="filled-button">{{ .acf.hero.button.text }}</div>
                </a>
            </div>
            <div class="image">
                <img src="{{ .acf.hero.image.url }}" alt="{{ .acf.hero.image.alt }}" />
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="padding"></div>
        <div class="html-content wrapper">
            {{ .acf.content_block | safeHTML }}
        </div>
        <div class="padding"></div>
    </div>

    <div x-data="{ postHeadSection: 'div1' }" class="service-types">
        <div class="toggle">
            <!-- Button 1 for Residential Services -->
            <button
                :class="postHeadSection === 'div1' ? 'active-service-trigger' : 'service-trigger'"
                @click="postHeadSection = 'div1'"
            >
                <div class="gradient-1"></div>
                <div class="gradient-2"></div>
                <div class="text">Residential Services</div>
            </button>
            <!-- Button 2 for Commercial Services -->
            <button
                :class="postHeadSection === 'div2' ? 'active-service-trigger' : 'service-trigger'"
                @click="postHeadSection = 'div2'"
            >
                <div class="gradient-3"></div>
                <div class="gradient-4"></div>
                <div class="text">Commercial Services</div>
            </button>
        </div>
        
        <div class="service-information">
            <!-- Residential Services Section -->
            <div
                :class="postHeadSection === 'div1' ? 'active-service-info' : 'service-info'"
            >
                <div class="content">
                    <h2>{{ .acf.residential_services.title }}</h2>
                    <p>{{ .acf.residential_services.paragraph }}</p>
                    <div class="buttons">
                        <a class="filled-button" href="{{ partial "global/button_link.html" (dict "button" .acf.residential_services.filled_button ) | safeURL }}">{{ .acf.residential_services.filled_button.text }}</a>
                        <a class="text-button" href="{{ partial "global/button_link.html" (dict "button" .acf.residential_services.text_button ) | safeURL }}">{{ .acf.residential_services.text_button.text }}</a>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ .acf.residential_services.image.url }}" alt="{{ .acf.residential_services.image.alt }}" />
                </div>
            </div>
    
            <!-- Commercial Services Section -->
            <div
                :class="postHeadSection === 'div2' ? 'active-service-info' : 'service-info'"
            >
                <div class="content">
                    <h2>{{ .acf.commercial_services.title }}</h2>
                    <p>{{ .acf.commercial_services.paragraph }}</p>
                    <div class="buttons">
                      <a class="filled-button" href="{{ partial "global/button_link.html" (dict "button" .acf.commercial_services.filled_button ) | safeURL }}">{{ .acf.commercial_services.filled_button.text }}</a>
                      <a class="text-button" href="{{ partial "global/button_link.html" (dict "button" .acf.commercial_services.text_button ) | safeURL }}">{{ .acf.commercial_services.text_button.text }}</a>
                    </div>
                </div>
                <div class="image">
                  <img src="{{ .acf.commercial_services.image.url }}" alt="{{ .acf.commercial_services.image.alt }}" />
                </div>
            </div>
        </div>
    </div>

    {{ partial "global/testimonialSection.html" (dict "testimonials" (index .global_sections "Testimonials Slider"))  }}

    {{ partial "global/scheduleEstimateCta.html" (dict "section_data" (index .global_sections "Schedule Estimate CTA") "addresses" (index .site_data "Physical Addresses") "phones" (index .site_data "Contact Numbers") "emails" (index .site_data "Emails"))  }}

</main>